@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');
body{
    font-family: "Gochi Hand", cursive;
}
body {
    background-color: linen;
}

.container{
    background-color: lightcoral;
}

.nav {
    list-style: none;
    text-align: center;
}

.nav li {
    display: inline;
    margin-right: 20px;
}

.copy {
    text-align: center;
    background-color: lightcoral;
}

#span1 {
    color: navajowhite;
}

#span2 {
    font-size: 50px;
}